html {
	background-color: #d4d4d4f2;
	color: #000;
}

body {
	font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
	font-size: 11px;
	padding: 32px;
}

img {
	padding: 0;
	margin: 0;
}

/* CONTENT */

.container {
	position: absolute;
	background-color: ;
	padding: 0;
	margin: 0;
  	top: 50%;
  	left: 50%;
  	margin-right: -50%;
	transform: translate(-50%, -50%);

}

.image.container img {
	margin: 2px;
}

#tinted img {
	
}

#random img {
	
}

/* imessage */

#imessage {
	width: 400px;
}

.bubble {
	display: block;
	margin-top:; 
	margin-bottom:;
	padding-bottom: 7px;
	padding-top: 7px;
	padding-left: 10px;
	padding-right: 10px;
	border-radius: 25px;
	outline: none;
}

#received {
	background-color: #000;
	color: #d4d4d4f2;
	border: none;

}

#sent {
	background-color: transparent;
	border: 1px solid #000;


}


form {
	display: flex;
	background-color: transparent;
    border: 1px solid #000;
    border-radius: 25px;
    font-size: 11px;
    box-shadow: none;
    outline: none;
    resize: none;
    flex-direction: row;

}

form input {
	background-color: transparent;
    border: none;

    font-size: 12px;
    box-shadow: none;
    line-height: 1.5;
    outline: none;
    padding-left: 10px;
    padding-top: 3px;
    padding-bottom: 3px;
    resize: none;
    flex-grow:2;

}

#send {
	background-color: #000;
	color: #d4d4d4f2;
	border: none;
	outline: none;
	margin: 2px;
	height:25px;
   	width:25px;
   	border-radius: 25px;

}

.far {
}


/* FOOTER */

#footer {
	position: absolute;
  	right: 0;
  	bottom: 0;
  	left: 0;
  	padding: 26px;
}

#logo {
	cursor: pointer;
	width: 40px;
	height: auto;
}

