html {
	background-color: #000;
	color: #000;
}

body {
	font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
	font-size: 11px;
	padding: 32px;
}

img {
	padding: 0;
	margin: 0;
}

/* CONTENT */

.container {


}

.image.container img {
	margin: 2px;
}

#tinted img {
	
}

#random img {
	
}

#logo {
	text-align: center;
}

/* imessage */

--------------------


.wrapper {
    width: 500px;
    height: 100%;
    margin: 0 auto;
  }

  .phone-containter {
  	background-color: red;
    width: 280px;
    height: 100%;
  }
  .phone {
    height: 20%;
    overflow-y: auto;
    overflow-x: hidden;
  }

.button {
  background-color: none;
  border: 1px solid #36a9fc;
  text-decoration: none;
  border-radius: 10px;
  padding: 5px 10px;
  
  display: block;
  width: 80px;
  text-align: center;
  overflow: hidden;
  text-oveflow: ellipsis;
  margin: 20px auto;
}

.build-container {
  width: 230px;
  height: 100%;
  margin-left: 20px;
  float: right;
}
#buildInput {
  width: 100%;
  height: 60%;
}

/* Messages baloon */
.message {
  margin: 10px 0;
  overflow: hidden;
}
.message-text {
  padding: 10px 20px;
  float: right;
  clear: both;
  border-radius: 25px;
  position: relative;
  margin-bottom: 1px;
}
.message.left .message-text {
  margin-right: 70px;
  margin-left: 20px;
  background-color: #afafaf;
  float: left;
}
.message.right .message-text {
  margin-left: 70px;
  margin-right: 20px;
  background-color: #000;
  color: #fff;
  float: right;
}

.message.right .message-text:before,
.message.right .message-text:after {
  border-radius: 0 0 0 50%;
}
.message.right .message-text:before {
  height: 20px;
  right: -23px;
  background-color: #000;
}
.message.right .message-text:after {
  right: -35px;
  bottom: -3px;
  background-color: #d4d4d4f2;
}


.message.left .message-text:before,
.message.left .message-text:after {
  border-radius: 0 0 50% 0;
}
.message.left .message-text:before {
  height: 20px;
  left: -23px;
  background-color: #afafaf;
}
.message.left .message-text:after {
  left: -35px;
  bottom: -3px;
  background-color: #d4d4d4f2;
}

.send-container {
 	display: flex;
	background-color: transparent;
    border: 1px solid #000;
    border-radius: 25px;
    font-size: 11px;
    box-shadow: none;
    outline: none;
    resize: none;
    flex-direction: row;
}
.send-input {
  	background-color: transparent;
    border: none;
    font-size: 12px;
    box-shadow: none;
    line-height: 1.5;
    outline: none;
    padding-left: 10px;
    padding-top: 3px;
    padding-bottom: 3px;
    resize: none;
    flex-grow:2;
}
.send-btn {
  	background-color: #000;
	color: #d4d4d4f2;
	border: none;
	outline: none;
	margin: 2px;
	height:25px;
   	width:25px;
   	border-radius: 25px;
}

